.Button{
    color: var(--inverted-primary-color);
}

.clear{
    margin: 0;
    padding: 0;
    background:none;
    border: none;
    outline: none;
}

.outline{
    padding: 10px 15px;
    border:  1px solid var(--primary-color);
    background:none;
    outline: none;
}