.InputWrapper{
    display: flex;
}

.placeholder{
    margin-right: 5px;   
}

.input{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: transparent;
    text-shadow:  0 0 0 var(--primary-color);

    &:focus{
        outline: none;
        
    }
}

.caretWrapper{
    position: relative;
    flex-grow: 1;
  
}

.caret{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 9px;
    height: 3px;
    background: var(--inverted-bg-color);
    animation:  blink forwards infinite 0.7s;
}

@keyframes blink{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.1;
    }

    100%{
        opacity: 1;
    }
}