.app.dark{
    --bg-color:#0e0e75;
    --primary-color:#049604;
    --inverted-bg-color:#e8e8ea;
    --secondary-color:#04ff04;
    --inverted-primary-color:#041c65;
    --inverted-secondary-color:#0449e0;
}