.app_orange_theme{
    --bg-color:#e8e8ea;
    --primary-color:rgb(247 168 20);
    --inverted-bg-color:orange;
    --secondary-color:rgb(168 112 6);
    --inverted-primary-color:rgb(255 255 255);
    --inverted-secondary-color:rgb(222 221 220);
}